:root {
    //color
    --bg-color: #242e38;
    --bg-button: #1d86c7;
    --bg-button-hover: #1b71a6;
    --bg-button-active: #0c4264;
    --text-color-light: #a2b0be;
    --text-color-dark: #2b425a;

    //anim
    --anim-sm: 0.2s;
    --anim-md: 0.3s;
    --anim-lg: 0.5s;
}

* {
    margin: 0;
    padding: 0;
}
