//variables
:root {
    --bg-color: #242e38;
    --text-color-primary: #a2b0be;
    --anim-sm: 0.2s;
    --anim-lg: 0.5s;
}
//styles
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color-primary);
}
main {
    flex-grow: 1;
}
footer {
    font-size: small;
    border-top: 1px solid #000;
    padding: 1rem 1rem;
    text-align: center;
}
.body__fullscreen {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;

    main {
        width: 100%;
        height: 100%;
    }
}
ul {
    list-style: none;
}
h1 {
    text-align: center;
    margin: 1rem auto 2rem;
    position: relative;
    padding-bottom: 1rem;

    &::before {
        content: '';
        bottom: 0;
        display: block;
        width: min(50%, 10rem);
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--text-color-primary);
        position: absolute;
    }
}
a:link,
a:visited {
    color: var(--text-color-primary);
    text-decoration: none;
    border-bottom: 1px dotted var(--text-color-primary);
    transition: var(--anim-lg);
}

a:hover,
a:focus {
    color: #fff;
}
.main-index {
    margin: auto;
    max-width: 90%;

    @media only screen and (min-width: 640px) {
        max-width: 50%;
    }

    li {
        text-align: center;
        margin-bottom: 1rem;
    }
}
